:root {
  --highlight-color: #00e676; /* set default value for "color" variable */
  --highlight-duration: 500ms;
}

.render-tester{
  width: 500px;
  margin-top: 50px;
}

.display-box{
  padding: 15px;
  text-align: center;
  border-radius: 100px;
}

.display-box[animation-trigger='false'] {
  animation: highlightColor1 var(--highlight-duration) 1;
}

.display-box[animation-trigger='true'] {
  animation: highlightColor2 var(--highlight-duration) 1;
}

.header{
  font-weight: bold;
  font-size: 20px;
}

.children-container{
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

/**
  * Need to duplicate this animation to trick CSS into showing the 
  * thing whenever the value for toggle changes
  */
@keyframes highlightColor1 {
  0%, 75% {
    background-color: var(--highlight-color);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes highlightColor2 {
  0%, 75% {
    background-color: var(--highlight-color);
  }

  100% {
    background-color: transparent;
  }
}
